$margin-space: 2.5rem;


body {
	background-color: rgba(0,0,0,0.5);
}

#logoArea {
	margin-top: $margin-space;
	margin-bottom: $margin-space;
}

h2 {
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.bigLetter {
/*	width: 14px;
	height: 28px;*/
	font-size: 6rem;
}

.smallLetter {
/*	width: 67px;
	height: 23px;*/
	font-size: 4rem;
}

#topMiddle {
	vertical-align: top;
}