$margin-space: 10rem;


body {
	background-color: black;
}

#logoArea {
	margin-top: $margin-space;
	margin-bottom: 5rem;
	vertical-align: middle;
}

h2 {
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	-webkit-text-stroke: 2px #ff0000;
}

label {
	color: white;
}

.bigLetter {
	font-size: 6rem;
	margin-top: 1rem;
	padding-top: -20px !important;
	position: relative;
	bottom: 1rem;
}

.smallLetter {
	font-size: 4rem;
}

#topMiddle {
	vertical-align: top;
	margin-top: 50px;
}

#bottomWord {
	position: relative;
	bottom: 4.5rem;
}