$margin-space: 2.5rem;


body {
	background-color: rgba(0,0,0,0.5);
}

#logoArea {
	margin-top: $margin-space;
	margin-bottom: $margin-space;
}

#logoArea > h2 {
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
}

.bigLetter {
	
}

.smallLetter {
	
}